@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root{
    --color-primary: #6C9BCF;
    --color-danger: #FF0060;
    --color-success: #1B9C85;
    --color-warning: #F7D060;
    --color-white: #fff;
    --color-info-dark: #7d8da1;
    --color-dark: #363949;
    --color-light: rgba(132, 139, 200, 0.18);
    --color-background: #f6f6f9;

    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 1.2rem;

    --card-padding: 1.8rem;
    --padding-1: 1.2rem;

    --box-shadow: 0 2rem 3rem var(--color-light);
}


.all {
    width: 100vw;
    height: auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background: linear-gradient(90deg, rgba(72,93,204,1) 41%, rgba(40,52,114,1) 100%);
    
}

.header-main {
    width: 99vw;
    height: 80px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 10px;
    left: 6px;
    z-index: 1;
    background-color: #fff;
    border-radius: 8px;
    
}

.header-info {
    display: flex;
    width: 29%;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
}

.logo {
    margin-left: 3%;
    width: 50px;
    height: 50px;
}

.icon-pesquisa {
    width: 20px;
    height: 20px;
    margin-right: 5px;
    margin-top: 2px;
}

.user-icon{
    cursor: pointer;
    margin-right: 20px;
    width: 50px;
    height: 50px;
}

.nome-empresa {
    margin-left: 3%;
    font-size: 22px;
    font-family: "Secular One", sans-serif;
    color: #735ff0;
}

.header-pesquisa {
    display: flex;
    align-items: center;
    border: 3px solid #989898;
    background-color: #00000006;
    width: 39%;
    margin: 20px auto;
    border-radius: 25px;
    padding: 5px 10px;
}

.searchInput {
    padding: 8px;
    border: none;
    background-color: transparent;
    width: 100%;
    outline: none;
    font-family: "Secular One", sans-serif;
    letter-spacing: 1.5px;
}

.header-btn {
    width: 29%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.btn-form-log {
    background-color: transparent;
    font-family: "Roboto", sans-serif;
    color: #333;
    border: none;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    margin-right: 20px;
}

.btn-form-log::after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: #333;
    transition: width 0.3s ease, left 0.3s ease;
}

.btn-form-log:hover::after {
    width: 0;
    right: 100%;
}

.aside {
    width: 250px;
    height: 90vh; /* Altura fixa */
    position: fixed;
    left: 6px;
    top: 100px;
    background-color: var(--color-white);
    box-shadow: var(--box-shadow);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    animation: slideInLeft 0.8s ease both; /* Animação ao carregar */
    transition: transform 0.3s ease, opacity 0.3s ease; /* Transição suave */
}

.btn-aside {
    position: relative; /* Necessário para posicionar o submenu */
  }
  
  .submenu {
    list-style-type: none;
    padding-left: 0;
    margin-top: 10px;
    background-color: #f4f4f4;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: absolute; /* Posiciona o submenu abaixo do botão */
    top: 100%;
    left: 0;
    width: 100%;
    z-index: 10;
    display: block; /* Sempre visível enquanto o estado estiver true */
  }
  
  .submenu .btn-aside {
    padding: 10px 20px;
    border-bottom: 1px solid #ddd;
    display: flex;
    align-items: center;
  }
  
  .submenu .btn-aside:last-child {
    border-bottom: none;
  }
  
  .submenu .btn-aside:hover {
    background-color: #e0e0e0;
  }
  
  .submenu .icone-aside-dif {
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }

  .seta {
    width: 15px;
  }

/* Animação aside */
@keyframes slideInLeft {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

/* Animação ao passar o mouse sobre o aside */
.aside:hover {
    transform: translateX(10px); /* Movimento suave ao passar o mouse */
    opacity: 0.95; /* Leve mudança de opacidade */
}

/* Botões e ícones aside */
.btn-aside {
    margin: 10px;
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-aside:hover {
    background-color: var(--color-light);
}

.icone-aside {
    width: 50px;
    margin-right: 10px;
}

.btn-aside-style, 
.btn-aside-style-dif {
    border-style: none;
    background-color: transparent;
    font-family: 'Montserrat', sans-serif;
    position: relative;
}

.btn-aside-style {
    font-size: 20px;
    cursor: pointer;
}

.btn-aside:last-child {
    margin-top: auto; /* Garante que o botão "Sair" fique na parte inferior */
  }

/* Estilos para o container-sessao */
.container-sessao {
    border-radius: 8px;
    width: 65%;
    height: 90vh; /* Altura fixa igual ao aside */
    margin-top: 100px;
    margin-left: 300px;
    overflow-y: hidden; /* Esconde o overflow inicialmente */
    position: relative;
    background-color: #ffffff11; /* Fundo semi-transparente para suavidade */
    border: 1px solid rgba(255, 255, 255, 0.2); /* Bordas suaves */
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
    backdrop-filter: blur(5px); /* Efeito de desfoque no fundo */
    transition: all 0.3s ease; /* Animação para a aparência suave */

}

.container-sessao:hover {
    overflow-y: scroll; /* Ativa a barra de rolagem ao passar o mouse */
}

/* Estilos da barra de rolagem personalizada */
.container-sessao::-webkit-scrollbar {
    width: 10px;
}

.container-sessao::-webkit-scrollbar-thumb {
    background-color: var(--color-primary);
    border-radius: 10px;
    border: 2px solid rgba(255, 255, 255, 0.3); /* Dá uma borda suave ao thumb */
}

.container-sessao::-webkit-scrollbar-track {
    background-color: transparent;
}

/* Suave animação ao rolar */
.container-sessao {
    scroll-behavior: smooth;
    width: 80%;
}

/* Estilos para o conteúdo do texto */
.titulo-container-sessao {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    padding-bottom: 10px;
    margin-bottom: 20px;
    animation: fadeInUp 1s ease both;
}

.titulo-container-sessao h1, .titulo-container-sessao p, .titulo-container-sessao ol{
    color: #f0f0f0;
    font-family: 'Montserrat', sans-serif;
    text-align: justify;
    margin-top: 25px;
}

/* Animação para o conteúdo da sessão */
@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Animação suave ao carregar os elementos */
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.componentes h2 {
    color: #fefefe;
    font-family: 'Krona One', sans-serif;
    margin-bottom: 0px;
    
}

.container-componentes {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.conteudo-texto {
    width: 750px;
}

.title-componente {
    font-size: 36px;
    font-family: 'Krona One', sans-serif;
    color: #f0ffffde;
}

.par-1 {
    margin-top: 25px;
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    color: #f0ffffde;
}

.par-2 {
    margin-top: 25px;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    color: #f0ffffde;
}

.text-exemp-cod-1 {
    padding: 2%;
    width: 85%;
    height: 85%;
}

.title-codigo {
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    color: #f0ffffde;
}

.code-container {
    position: relative;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    background-color: #f5f5f5;
    max-width: 600px;
    margin: 0 auto;
}

pre {
    margin: 0;
    white-space: pre-wrap;
    word-wrap: break-word;
    background-color: #333;
    color: #f5f5f5;
    padding: 10px;
    border-radius: 3px;
}

.btn-copy {
    position: absolute;
    top: 15px;
    right: 10px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.icon-copy {
    width: 20px;
    height: 20px;
    filter: invert(100%);
}

.container-componentes-1 {
    display: flex;
    margin-top: 80px;
}

.popup {
    position: absolute;
    top: 60px;
    right: 10px;
    background-color: #fff;
    padding: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    z-index: 100;
    width: 180px;
  }
  
  .popup p {
    margin: 0 0 10px;
    color: #333;
  }
  
  .popup button {
    width: 100%;
    padding: 8px;
    background-color: #735ff0;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .popup button:hover {
    background-color: #3868af;
  }


  .btn {
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px;
    display: inline-block;
    border-radius: 100px;
    transition: all 0.2s;
    position: relative;
    font-family: 'Roboto', sans-serif; /* Adiciona a fonte */
    font-weight: bold; /* Aumenta a espessura da fonte */
    border-style: none;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-white {
    background-color: rgba(72,93,204,1);
    color: #ffffff;
    cursor: pointer;
    margin-right: 30px;
}

.btn-white:hover {
    background-color: rgba(72,93,204,1); /* Muda a cor ao passar o mouse */
}

.btn:after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s;
}

.btn-white:after {
    background-color: rgba(72,93,204,1);
}

.btn:hover:after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

