@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Secular+One&display=swap&family=Kreon:wght@300..700&display=swap');

/* Aplica box-sizing: border-box para todos os elementos */
*,
*::before,
*::after {
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Evita barras de rolagem horizontais */
    background: linear-gradient(90deg, rgba(72,93,204,1) 41%, rgba(40,52,114,1) 100%);
}

.all {
    width: 100%;
    min-height: 100vh;
    margin: 0 auto;
    padding: 0;
    background-color: #FFF;
}

.header-main {
    width: 100%;
    height: 80px; /* Defina uma altura fixa para o header */
    display: flex;
    justify-content: space-between;
    position: fixed; /* Fixa o header no topo da tela */
    top: 0;
    left: 0;
    z-index: 1;
    background-color: white; /* Garante que o header tenha um fundo */
}

.header-info {
    display: flex;
    width: 29%;
    justify-content: flex-start;
    align-items: center;
}
 
.logo {
    margin-left: 3%;
    width: 50px;
    height: 50px;
}

.nome-empresa {
    margin-left: 3%;
    font-size: 22px;
    font-family: "Secular One", sans-serif;
    color: #735ff0;
}

.header-pesquisa {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 3px solid #989898;
    background-color: #00000006;
    width: 39%;
    margin: 20px auto;
    border-radius: 25px;
    padding: 5px 10px;
}

.searchInput {
    padding: 8px;
    border: none;
    background-color: transparent;
    width: 100%;
    outline: none;
    font-family: "Secular One", sans-serif;
    letter-spacing: 1.5px;
    color: #333; /* Texto da pesquisa mais escuro para contraste */
}

.icon-pesquisa {
    width: 20px;
    height: 20px;
    margin-right: 5px;
    margin-top: 2px;
}

.header-btn {
    width: 29%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.btn-form-log {
    background-color: transparent;
    font-family: "Roboto", sans-serif;
    color: #333;
    border: none;
    cursor: pointer;
    overflow: hidden;
    position: relative;

}

.btn-form-log::after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: #333;
    transition: width 0.3s ease, left 0.3s ease;
}

.btn-form-log:hover::after {
    width: 0;
    right: 100%;
}

.article-body {
    width: 100vw; /* Garante que ocupe toda a largura disponível */
    height: 100vh;
    min-height: calc(100vh - 80px); /* Ajusta a altura para compensar o header */
    background: rgb(72,93,204);
    background: linear-gradient(90deg, rgba(72,93,204,1) 41%, rgba(40,52,114,1) 100%);
    margin-top: 80px; /* Garante que o conteúdo fique abaixo do header */
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.article-main {
    width: 100vw;
    height: 650px;
    margin-top: 150px;
    padding: 2%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.exemp-cod {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: 90%;
    background-color: #dedada;
    opacity: 85%;
    border-radius: 16px;
}

.text-exemp-cod {
    padding: 2%;
    border-left: #495ECD 10px solid;
    width: 85%;
    height: 85%;
    background-color: #FFF;
}

.text-exemp-cod h1 {
    font-family: "Secular one", sans-serif;
}

.code-container {
    position: relative;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    background-color: #f5f5f5;
    max-width: 600px;
    margin: 0 auto;
}

pre {
    margin: 0;
    white-space: pre-wrap;
    word-wrap: break-word;
    background-color: #333;
    color: #f5f5f5;
    padding: 10px;
    border-radius: 3px;
}

.btn-copy {
    position: absolute;
    top: 3px;
    right: 3px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.icon-copy {
    width: 20px;
    height: 20px;
    filter: invert(100%);
}


.text-exemp {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 40%;
    background-color: #dedada;
    opacity: 85%;
    border-radius: 16px;
}

.explicacao-exemp-cod {
    padding: 1%;
    border-left: #495ECD 10px solid;
    width: 95%;
    height: 85%;
    background-color: #FFF;
}

.explicacao-exemp-cod h1 {
    font-family: "Secular One", sans-serif;
}

